{% extends 'modelo.html' %}

{% load static %}

{% load crispy_forms_tags %}


{% block conteudo %}
    <h3>{{ titulo|default:'Formulário de Respostas' }}</h3>
    <p class="lead">
        Preencha todos os campos obrigatórios.
    </p>

    <hr>

    <select id="dimensao">
        <option selected disabled="true"> -- Selecione uma Dimensão --</option>
        {% for dimensao in Dimensao %}
            <option value="{{ dimensao.pk }}">{{ dimensao.nome }}</option>
        {% endfor %}
    </select>

    <select id="variavel">
        <option selected disabled="true"> -- Selecione uma Variavel --</option>
        {% for variavel in Variavel %}
            <option value="{{ variavel.id_dimensao_id }}">{{ variavel.nome }}</option>
        {% endfor %}
    </select>

    <hr>

    <form action="" method="POST">
        {% csrf_token %}

        {{ form|crispy }}

        <button type="submit" class="btn btn-light mt-3">{{ botao|default:'Cadastrar' }}</button>

    </form>


{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function (){
            var $dimensao=$('#dimensao'),
                $variavel=$('#variavel'),
                $options=$variavel.find('option');
                $dimensao.on('change', function (){
                   $variavel.html($options.filter('[value="'+this.value+'"]'));
                }).trigger('change');
        });
    </script>

    <script>
        $(document).ready(function (){
           $('#dimensao').variavel({

           });
           $('#variavel').variavel({

           });
        });
    </script>
{%  endblock %}