{% extends 'paginas/modelo-manager.html' %}

{% load static %}


{% block titulo %}
    <title>Configurações</title>
{% endblock %}

{% block conteudo %}
    <div class="container">
        <h1>Configurações</h1>
        <hr>
        <a id="add-link" href="{% url 'listar-instituicao' %}">
            <div class="add-div">
                <i class="fas fa-plus"></i> Cadastrar Instituição
            </div>
        </a>
        <a id="add-link" href="{% url 'listar-ano' %}">
            <div class="add-div">
                <i class="fas fa-plus"></i> Cadastrar Ano
            </div>
        </a>
        <a id="add-link" href="{% url 'listar-responsavel' %}">
            <div class="add-div">
                <i class="fas fa-plus"></i> Cadastrar Responsáveis da Instituição
            </div>
        </a>
        <a id="add-link" href="{% url 'listar-relatorio2' %}">
            <div class="add-div">
                <i class="fa-solid fa-gear"></i> Gestão de Relatórios
            </div>
        </a>
    </div>
{% endblock %}