{% extends 'paginas/modelo.html' %}

{% load static %}

{% block titulo %}
    <title>PICTI</title>
{% endblock %}


{% block conteudo %}
    <div class="container">
        <!-- cards -->
        {% block cards %}
            <div class="container-fluid px-4">
                <div class="row g-3 my-2">
                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">{{ orca }}</h3>
                                <p class="fs-5">Orçamento</p>
                            </div>
                            <i class="far fa-money-bill-alt fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <p>
                                <select style="font-weight: bold" name="ano">
                                    <option value="">2021</option>
                                    <option value="">----</option>
                                </select>
                                </p>
                                <p class="fs-5">Ano</p>
                            </div>
                            <i
                                class="far fa-calendar-alt fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <p>
                                <select style="font-weight: bold" name="ano">
                                    <option value="">SETEC-AP</option>
                                    <option value="">---------</option>
                                </select>
                                </p>
                                <p class="fs-5">Instituição</p>
                            </div>
                            <i class="fas fa-users fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">{{ patcon }}</h3>
                                <p class="fs-5">Patentes Concedidas</p>
                            </div>
                            <i class="far fa-file-alt fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        <!-- charts -->
        {% block charts %}
            <div class="container-fluid px-1">
                <div class="row my-5">
                    <div class="col-md-5">
                        <h4 style="text-align: center">Recursos Aplicados</h4>
                        <h5 style="text-align:justify">Dispêndios dos governos estaduais em ciência e tecnologia (C&T)
                            por atividade</h5>
                        <canvas id="recurso_aplicado"></canvas>
                    </div>
                    <div class="col-md-5">
                        <h4 style="text-align: center">Recursos Humanos</h4>
                        <h5 style="text-align: justify">Total de pessoas envolvidas em pesquisa e desenvolvimento (P&D)
                            (pesquisadores + pessoal de apoio), em número de pessoas, por setor institucional</h5>
                        <canvas id="rh"></canvas>
                    </div>
                    <div class="col-md-5">
                        <h4 style="text-align: center">Bolsa Formação</h4>
                        <h5 style="text-align: justify">CNPq - Total de bolsas/ano concedidas no país e no exterior</h5>
                        <canvas id="bolsas"></canvas>
                    </div>
                    <div class="col-md-5">
                        <h4 style="text-align: center">Produção Científica</h4>
                        <h5 style="text-align: justify">Número de artigos brasileiros indexados pela Scopus e percentual em
                            relação ao mundo</h5>
                        <canvas id="prodcien"></canvas>
                    </div>
                    <div class="col-md-5">
                        <h4 style="text-align: center">Patentes</h4>
                        <h5 style="text-align: justify">Pedidos de patentes depositados no Instituto Nacional da
                            Propriedade Industrial (INPI), segundo tipos de patentes</h5>
                        <canvas id="patentes"></canvas>
                    </div>
                    <div class="col-md-5">
                        <h4 style="text-align: center">Inovação</h4>
                        <h5 style="text-align: justify">Percentual de empresas que implementaram inovações de produto e/ou
                            processo, segundo as atividades selecionadas da indústria, do setor de eletricidade e gás e dos
                            serviços</h5>
                        <canvas id="inovacao"></canvas>
                    </div>
                </div>
            </div>
        {% endblock %}
        <!-- tables list -->
        {% block tables %}
                {% comment %} 
                <div class="row my-5">
                    <div class="col-md-13">
                        <h3 class="fs-4 mb-3">Recursos Aplicados</h3>
                        <a href="#" class="btn">Ver Todos</a>
                        <div class="col">
                            <table class="table bg-white rounded shadow-sm  table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Sub-Indicador</th>
                                        <th scope="col">Valor 2020</th>
                                        <th scope="col">Valor 2021</th>
                                        <th scope="col">Variação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Dispêndios dos governos estaduais em (C&T)</th>
                                        <td>R$1200</td>
                                        <td>R$1500</td>
                                        <td><span class="status deliveride">%<i class="fas fa-arrow-up"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Total de pessoas envolvidas em pesquisa e desenvolvimento (P&D) (pesquisadores+pessoal de apoio)</td>
                                        <td>110</td>
                                        <td>110</td>
                                        <td><span class="status pending">%<i class="fas fa-arrows-alt-v"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">CNPq - Total de bolsas/ano concedidas no País e no exterior</td>
                                        <td>620</td>
                                        <td>400</td>
                                        <td><span class="status return">%<i class="fas fa-arrow-down"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Produção científica, segundo meio de divulgação no diretório dos grupos de pesquisa do CNPq</td>
                                        <td>110</td>
                                        <td>0</td>
                                        <td><span class="status inprogress">%<i class="fas fa-arrows-alt-h"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Pedidos de patentes depositados no INPI, segundo tipos de patentes e origem do depositante</td>
                                        <td>1100</td>
                                        <td>1200</td>
                                        <td><span class="status deliveride">%<i class="fas fa-arrow-up"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Pedidos e concessões de patentes de invenção junto ao USPTO</td>
                                        <td>110</td>
                                        <td>110</td>
                                        <td><span class="status pending">%<i class="fas fa-arrows-alt-v"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Pedidos de patentes depositados de acordo com o PCT, na sua fase internacional, que designam o EPO por UF de residência do inventor</td>
                                        <td>620</td>
                                        <td>120</td>
                                        <td><span class="status return">%<i class="fas fa-arrow-down"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Total de Famílias de Patentes Triádicas, de inventores residentes no Brasil, por data de prioridade</td>
                                        <td>110</td>
                                        <td>0</td>
                                        <td><span class="status inprogress">%<i class="fas fa-arrows-alt-h"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Percentual de empresas que implementaram inovações de produto e/ou processo, segundo as atividades selecionadas da indústria, do setor de eletricidade e gás e dos serviços</td>
                                        <td>575</td>
                                        <td>575</td>
                                        <td><span class="status pending">%<i class="fas fa-arrows-alt-v"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Número e Percentual de Empresas Industriais que fazem P&D contínuo</td>
                                        <td>110</td>
                                        <td>110</td>
                                        <td><span class="status pending">%<i class="fas fa-arrows-alt-v"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dispêndios realizados nas atividades inovativas de empresas que implementaram inovações, segundo as atividades selecionadas da indústria, do setor de eletricidade e gás e dos serviços</td>
                                        <td>110</td>
                                        <td>0</td>
                                        <td><span class="status inprogress">%<i class="fas fa-arrows-alt-h"></i></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                 {% endcomment %}
        {% endblock %}
    </div>
    <script>
        const colors = ["red", "blue", "green", "orange", "gray", "purple", "yellow"]
        var recurso_aplicado = document.getElementById("recurso_aplicado").getContext("2d");
        var rh = document.getElementById("rh").getContext("2d");
        var bolsas = document.getElementById("bolsas").getContext("2d");
        var patentes = document.getElementById("patentes").getContext("2d");
        var inovacao = document.getElementById("inovacao").getContext("2d");
        new Chart(recurso_aplicado, {
            type: "bar",
            data: {
              datasets: [
                  {% for resposta in recurso_aplicado %}
                      {
                      align: "start",
                      data: [{{resposta.resposta}}],
                      label: "{{resposta.id_variavel.nome|safe}}",
                      borderColor: [colors[{{ forloop.counter0 }}]],
                      backgroundColor: [colors[{{ forloop.counter0 }}]],
                      },
                  {% endfor %}
              ],
              labels: [
                {% for ano in recurso_aplicado_anos %}
                      {{ano}}
                  {% endfor %}
                ],
            },
          }
        );
          
        new Chart(rh, {
            type: "bar",
            data: {
              datasets: [
                  {% for resposta in rh %}
                      {
                      align: "start",
                      data: [{{resposta.resposta}}],
                      label: "{{resposta.id_variavel.nome|safe}}",
                      borderColor: [colors[{{ forloop.counter0 }}]],
                      backgroundColor: [colors[{{ forloop.counter0 }}]],
                      },
                  {% endfor %}
              ],
              labels: [
                {% for ano in rh_anos %}
                      {{ano}}
                  {% endfor %}
               ],
            }
          });

          new Chart(bolsas, {
            type: "bar",
            data: {
              datasets: [
                    {
                      data: [{{bolsas_53}}],
                      label: "{{nome_53}}",
                      borderColor: [colors[0]],
                      backgroundColor: [colors[0]],
                    },
                    {
                        data: [{{bolsas_54}}],
                        label: "{{nome_54}}",
                        borderColor: [colors[1]],
                        backgroundColor: [colors[1]],
                    },
              ],
              labels: [
                {% for ano in bolsas_anos %}
                      {{ano}}
                  {% endfor %}
               ],
            }
          });

          new Chart(patentes, {
            type: "bar",
            data: {
              datasets: [
                  {% for resposta in patentes %}
                      {
                      align: "start",
                      data: [{{resposta.resposta}}],
                      label: "{{resposta.id_variavel.nome|safe}}",
                      borderColor: [colors[{{ forloop.counter0 }}]],
                      backgroundColor: [colors[{{ forloop.counter0 }}]],
                      },
                  {% endfor %}
              ],
              labels: [
                {% for ano in patentes_anos %}
                      {{ano}}
                  {% endfor %}
                ],
            },
          }
        );

        new Chart(inovacao, {
            type: "bar",
            data: {
              datasets: [
                    {
                      data: [{{inovacao_1173}}],
                      label: "{{inovacao_nome_1173}}",
                      borderColor: [colors[0]],
                      backgroundColor: [colors[0]],
                    },
                    {
                        data: [{{inovacao_1177}}],
                        label: "{{inovacao_nome_1177}}",
                        borderColor: [colors[1]],
                        backgroundColor: [colors[1]],
                    },
                    {
                        data: [{{inovacao_1181}}],
                        label: "{{inovacao_nome_1181}}",
                        borderColor: [colors[2]],
                        backgroundColor: [colors[2]],
                    },
              ],
              labels: [
                {% for ano in inovacao_anos %}
                      {{ano}}
                  {% endfor %}
               ],
            }
          });
        
          
        </script>
{% endblock %}