{% extends 'paginas/modelo.html' %}
{% load static %}
{% block titulo %}<title>PICTI</title>{% endblock %}
{% block conteudo %}
    <div class="container">
        <!-- cards -->
        {% block cards %}
            <div class="container-fluid px-4">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label class="sr-only" for="inlineFormInput">Name</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="far fa-calendar-alt fs-1 primary-text border rounded-full secondary-bg"></i>
                                    </div>
                                </div>
                                <select id="inputState" class="form-control" required id="ano" name="ano">
                                    <option value="">
                                        Escolha um ano
                                    </option>
                                    {% for ano in filtro_anos %}
                                        <option {% if ano_selecionado == ano %}selected{% endif %} value="{{ ano.id }}">
                                            {{ ano }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-5">
                            <label class="sr-only" for="inlineFormInput">Name</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-users fs-1 primary-text border rounded-full secondary-bg"></i>
                                    </div>
                                </div>
                                <select id="inputState"
                                        class="form-control"
                                        required
                                        id="instituicao"
                                        name="instituicao">
                                    <option value="">
                                        Escolha uma instituição
                                    </option>
                                    {% for instituicao in filtro_instituicoes %}
                                        <option {% if instituicao_selecionada == instituicao %}selected{% endif %} value="{{ instituicao.id }}">
                                            {{ instituicao }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-2">Aplicar filtro</button>
                        </div>
                    </div>
                </form>
                <!--<div class="row g-3 my-2">
                    {% comment %} <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">{{ orca }}</h3>
                                <p class="fs-5">Orçamento</p>
                            </div>
                            <i class="far fa-money-bill-alt fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div> {% endcomment %}
                    {% comment %} <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <p>
                                    <select style="font-weight: bold" name="ano">
                                        <option value="">
                                            2021
                                        </option>
                                        <option value="">
                                            ----
                                        </option>
                                    </select>
                                </p>
                                <p class="fs-5">Ano</p>
                            </div>
                            <i class="far fa-calendar-alt fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <p>
                                    <select style="font-weight: bold" name="ano">
                                        <option value="">
                                            SETEC-AP
                                        </option>
                                        <option value="">
                                            ---------
                                        </option>
                                    </select>
                                </p>
                                <p class="fs-5">Instituição</p>
                            </div>
                            <i class="fas fa-users fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div> {% endcomment %}
                    {% comment %} <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">{{ patcon }}</h3>
                                <p class="fs-5">Patentes Concedidas</p>
                            </div>
                            <i class="far fa-file-alt fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div> {% endcomment %}
                </div>-->
                <h2>Instituição: {{ instituicao_selecionada }}</h2>
                <h3>Ano: {{ ano_selecionado }}</h3>
            </div>
        {% endblock %}
        <!-- charts -->
        {% block charts %}
            <div class="container-fluid px-1">
                <div class="row my-5">
                    <div class="col-md-5">
                        <h4 style="text-align: center">Recursos Aplicados</h4>
                        <canvas id="recurso_aplicado"></canvas>
                        <h7 style="text-align:justify">
                            Dispêndios dos governos estaduais em ciência e tecnologia (C&T)
                            por atividade
                        </h7>
                    </div>
                    <div class="col-md-5">
                        <h4 style="text-align: center">Recursos Humanos</h4>
                        <canvas id="rh"></canvas>
                        <h7 style="text-align: justify">
                            Total de pessoas envolvidas em pesquisa e desenvolvimento (P&D)
                            (pesquisadores + pessoal de apoio), em número de pessoas, por setor institucional
                        </h7>
                    </div>
                    <div class="col-md-5">
                        <h4 style="text-align: center">Bolsa Formação</h4>
                        <canvas id="bolsas"></canvas>
                        <h7 style="text-align: justify">CNPq - Total de bolsas/ano concedidas no país e no exterior</h7>
                    </div>
                    <div class="col-md-5">
                        <h4 style="text-align: center">Produção Científica</h4>
                        <canvas id="prodcien"></canvas>
                        <h7 style="text-align: justify">
                            Número de artigos brasileiros indexados pela Scopus e percentual em
                            relação ao mundo
                        </h7>
                    </div>
                    <div class="col-md-5">
                        <h4 style="text-align: center">Patentes</h4>
                        <canvas id="patentes"></canvas>
                        <h7 style="text-align: justify">
                            Pedidos de patentes depositados no Instituto Nacional da
                            Propriedade Industrial (INPI), segundo tipos de patentes
                        </h7>
                    </div>
                    <div class="col-md-5">
                        <h4 style="text-align: center">Inovação</h4>
                        <canvas id="inovacao"></canvas>
                        <h7 style="text-align: justify">
                            Total de empresas e empresas que implementaram inovações de produto e/ou processo, segundo as atividades selecionadas da indústria, do setor de eletricidade e gás e dos serviços
                        </h7>
                    </div>
                </div>
            </div>
        {% endblock %}
        <!-- tables list -->
        {% block tables %}
            {% comment %}
                <div class="row my-5">
                    <div class="col-md-13">
                        <h3 class="fs-4 mb-3">Recursos Aplicados</h3>
                        <a href="#" class="btn">Ver Todos</a>
                        <div class="col">
                            <table class="table bg-white rounded shadow-sm  table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Sub-Indicador</th>
                                        <th scope="col">Valor 2020</th>
                                        <th scope="col">Valor 2021</th>
                                        <th scope="col">Variação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Dispêndios dos governos estaduais em (C&T)</th>
                                        <td>R$1200</td>
                                        <td>R$1500</td>
                                        <td><span class="status deliveride">%<i class="fas fa-arrow-up"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Total de pessoas envolvidas em pesquisa e desenvolvimento (P&D) (pesquisadores+pessoal de apoio)</td>
                                        <td>110</td>
                                        <td>110</td>
                                        <td><span class="status pending">%<i class="fas fa-arrows-alt-v"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">CNPq - Total de bolsas/ano concedidas no País e no exterior</td>
                                        <td>620</td>
                                        <td>400</td>
                                        <td><span class="status return">%<i class="fas fa-arrow-down"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Produção científica, segundo meio de divulgação no diretório dos grupos de pesquisa do CNPq</td>
                                        <td>110</td>
                                        <td>0</td>
                                        <td><span class="status inprogress">%<i class="fas fa-arrows-alt-h"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Pedidos de patentes depositados no INPI, segundo tipos de patentes e origem do depositante</td>
                                        <td>1100</td>
                                        <td>1200</td>
                                        <td><span class="status deliveride">%<i class="fas fa-arrow-up"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Pedidos e concessões de patentes de invenção junto ao USPTO</td>
                                        <td>110</td>
                                        <td>110</td>
                                        <td><span class="status pending">%<i class="fas fa-arrows-alt-v"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Pedidos de patentes depositados de acordo com o PCT, na sua fase internacional, que designam o EPO por UF de residência do inventor</td>
                                        <td>620</td>
                                        <td>120</td>
                                        <td><span class="status return">%<i class="fas fa-arrow-down"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Total de Famílias de Patentes Triádicas, de inventores residentes no Brasil, por data de prioridade</td>
                                        <td>110</td>
                                        <td>0</td>
                                        <td><span class="status inprogress">%<i class="fas fa-arrows-alt-h"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Percentual de empresas que implementaram inovações de produto e/ou processo, segundo as atividades selecionadas da indústria, do setor de eletricidade e gás e dos serviços</td>
                                        <td>575</td>
                                        <td>575</td>
                                        <td><span class="status pending">%<i class="fas fa-arrows-alt-v"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Número e Percentual de Empresas Industriais que fazem P&D contínuo</td>
                                        <td>110</td>
                                        <td>110</td>
                                        <td><span class="status pending">%<i class="fas fa-arrows-alt-v"></i></span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dispêndios realizados nas atividades inovativas de empresas que implementaram inovações, segundo as atividades selecionadas da indústria, do setor de eletricidade e gás e dos serviços</td>
                                        <td>110</td>
                                        <td>0</td>
                                        <td><span class="status inprogress">%<i class="fas fa-arrows-alt-h"></i></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endcomment %}
        {% endblock %}
    </div>
    <script>
        const colors = [
            'rgba(255,99,132,0.7)',
            'rgba(255, 159, 64, 0.7)',
            'rgba(255, 205, 86, 0.7)',
            'rgba(75, 192, 192, 0.7)',
            'rgba(54, 162, 235, 0.7)',
            'rgba(153, 102, 255, 0.7)',
            'rgba(201, 203, 207, 0.7)',
        ]
        const bcolors = [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
            'rgb(153, 102, 255)',
            'rgb(201, 203, 207)',
        ]
        var recurso_aplicado = document.getElementById("recurso_aplicado").getContext("2d");
        var rh = document.getElementById("rh").getContext("2d");
        var bolsas = document.getElementById("bolsas").getContext("2d");
        var patentes = document.getElementById("patentes").getContext("2d");
        var inovacao = document.getElementById("inovacao").getContext("2d");
        var prodcien = document.getElementById("prodcien").getContext("2d");

        new Chart(recurso_aplicado, {
            type: "bar",
            data: {
                datasets: [
                    {% for resposta in recurso_aplicado %}
                        {
                            align: "start",
                            data: [{{resposta.resposta}}],
                            label: "{{resposta.id_variavel.nome|safe}}",
                            borderColor: [bcolors[{{ forloop.counter0 }}]],
                            backgroundColor: [colors[{{ forloop.counter0 }}]],
                            borderWidth: 1,
                            borderRadius: 20,
                            borderSkipped: false,
                        },
                    {% endfor %}
                ],
                labels: [
                    {% for ano in recurso_aplicado_anos %}{{ano}}{% endfor %}
                ],
            },
            options: {
                plugins: {
                    legend: {
                        position: 'bottom',
                        align: 'start',
                    }
                }
            },
        plugins: [ChartDataLabels],
        });
          
        new Chart(rh, {
            type: "bar",
            data: {
                datasets: [
                    {% for resposta in rh %}
                        {
                            align: "start",
                            data: [{{resposta.resposta}}],
                            label: "{{resposta.id_variavel.nome|safe}}",
                            borderColor: [colors[{{ forloop.counter0 }}]],
                            backgroundColor: [colors[{{ forloop.counter0 }}]],
                            borderWidth: 1,
                            borderRadius: 20,
                            borderSkipped: false,
                        },
                    {% endfor %}
                ],
                labels: [
                    {% for ano in rh_anos %}                      {{ano}}{% endfor %}
                ],
            },
            options: {
                plugins: {
                    legend: {
                        position: 'bottom',
                        align: 'start',
                    }
                }
            },
        plugins: [ChartDataLabels],
        });

        new Chart(bolsas, {
            type: "bar",
            data: {
                datasets: [
                    {
                        data: [{{bolsas_53}}],
                        label: "{{nome_53}}",
                        borderColor: [bcolors[0]],
                        backgroundColor: [colors[0]],
                        borderWidth: 1,
                        borderRadius: 20,
                        borderSkipped: false,
                    },
                    {
                        data: [{{bolsas_54}}],
                        label: "{{nome_54}}",
                        borderColor: [bcolors[1]],
                        backgroundColor: [colors[1]],
                        borderWidth: 1,
                        borderRadius: 20,
                        borderSkipped: false,
                    },
                ],
                labels: [
                    {% for ano in bolsas_anos %}                      {{ano}}{% endfor %}
                ],
            },
            options: {
                plugins: {
                    legend: {
                        position: 'bottom',
                        align: 'start',
                    }
                }
            },
            plugins: [ChartDataLabels],
          });

        new Chart(patentes, {
            type: "bar",
            data: {
                datasets: [
                    {% for resposta in patentes %}
                        {
                            align: "start",
                            data: [{{resposta.resposta}}],
                            label: "{{resposta.id_variavel.nome|safe}}",
                            borderColor: [bcolors[{{ forloop.counter0 }}]],
                            backgroundColor: [colors[{{ forloop.counter0 }}]],
                            borderWidth: 1,
                            borderRadius: 20,
                            borderSkipped: false,
                        },
                    {% endfor %}
                ],
                labels: [
                    {% for ano in patentes_anos %}                      {{ano}}{% endfor %}
                ],
            },
            options: {
                plugins: {
                    legend: {
                        position: 'bottom',
                        align: 'start',
                    }
                }
            },
        plugins: [ChartDataLabels],
        });

        new Chart(inovacao, {
            type: "bar",
            data: {
                datasets: [
                    {
                        data: [{{inovacao_empresas}}],
                        label: "{{inovacao_nome_empresas}}",
                        borderColor: [bcolors[0]],
                        backgroundColor: [colors[0]],
                        borderWidth: 1,
                        borderRadius: 20,
                        borderSkipped: false,
                    },
                    {
                        data: [{{inovacao_produto_processo}}],
                        label: "{{inovacao_nome_produto_processo}}",
                        borderColor: [bcolors[1]],
                        backgroundColor: [colors[1]],
                        borderWidth: 1,
                        borderRadius: 20,
                        borderSkipped: false,
                    },
                    {
                        data: [{{inovacao_produto}}],
                        label: "{{inovacao_nome_produto}}",
                        borderColor: [bcolors[2]],
                        backgroundColor: [colors[2]],
                        borderWidth: 1,
                        borderRadius: 20,
                        borderSkipped: false,
                    },
                    {
                        data: [{{inovacao_processo}}],
                        label: "{{inovacao_nome_processo}}",
                        borderColor: [bcolors[3]],
                        backgroundColor: [colors[3]],
                        borderWidth: 1,
                        borderRadius: 20,
                        borderSkipped: false,
                    },
                ],
                labels: [
                    {% for ano in inovacao_anos %}                      {{ano}}{% endfor %}
                ],
            },
            options: {
                plugins: {
                    legend: {
                        position: 'bottom',
                        align: 'start',
                    }
                }
            },
            plugins: [ChartDataLabels],
          });

        new Chart(prodcien, {
            type: "bar",
            data: {
                datasets: [
                    {
                        data: [{{soma_thompson_brasil}}],
                        label: "{{thompson_nome_brasil}}",
                        borderColor: [bcolors[0]],
                        backgroundColor: [colors[0]],
                        borderWidth: 1,
                        borderRadius: 20,
                        borderSkipped: false,
                    },
                    {
                        data: [{{soma_thompson_latina}}],
                        label: "{{thompson_nome_latina}}",
                        borderColor: [bcolors[1]],
                        backgroundColor: [colors[1]],
                        borderWidth: 1,
                        borderRadius: 20,
                        borderSkipped: false,
                    },
                    {
                        data: [{{soma_thompson_mundo}}],
                        label: "{{thompson_nome_mundo}}",
                        borderColor: [bcolors[2]],
                        backgroundColor: [colors[2]],
                        borderWidth: 1,
                        borderRadius: 20,
                        borderSkipped: false,
                    },

                    {
                        data: [{{soma_scopus_brasil}}],
                        label: "{{scopus_nome_brasil}}",
                        borderColor: [bcolors[3]],
                        backgroundColor: [colors[3]],
                        borderWidth: 1,
                        borderRadius: 20,
                        borderSkipped: false,
                    },
                    {
                        data: [{{soma_scopus_latina}}],
                        label: "{{scopus_nome_latina}}",
                        borderColor: [bcolors[4]],
                        backgroundColor: [colors[4]],
                        borderWidth: 1,
                        borderRadius: 20,
                        borderSkipped: false,
                    },
                    {
                        data: [{{soma_scopus_mundo}}],
                        label: "{{scopus_nome_mundo}}",
                        borderColor: [bcolors[5]],
                        backgroundColor: [colors[5]],
                        borderWidth: 1,
                        borderRadius: 20,
                        borderSkipped: false,
                    },
              ],
                labels: [
                    {% for ano in prod_cienc_anos %}{{ano}}{% endfor %}
                ],
            },
            options: {
                plugins: {
                    legend: {
                        position: 'bottom',
                        align: 'start',
                    }
                }
            },
            plugins: [ChartDataLabels],
          });
        
          
    </script>
{% endblock %}
