{% extends 'paginas/modelo-manager.html' %}

{% load static %}

{% block titulo %}
    <title>Início</title>
{% endblock %}

{% block conteudo %}
    <div class="container">
        <img src="{% static 'img/logo.png' %}" alt="pcti" height="50" style="max-height: 200px;" class="img-fluid">
        <img src="{% static 'img/logo2.png' %}" alt="pcti" height="50" style="max-height: 200px;" class="img-fluid">
        <hr>
        Bem vindo a Plataforma de Indicadores de Ciência, Tecnologia e Inovação - PICTI.
    </div>
{% endblock %}