{% load static %}

<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Projeto de mestrado PROFNIT/UNIFAP">
    <meta name="author" content="Robson R. N. Aguiar Lachat">
    {% block titulo %}
        <title>PICTI</title>
    {% endblock %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- CDN ChartsJs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <!-- CSS adicional -->
    <link href="{% static 'css/estilo.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- Verticar navbar -->
        {% block menu_vertical %}
            <div class="navigation" style="left: 0px; right: 0px;">
                <ul>
                    <li>
                        <a href="#">
                                <span class="icon"><i class="fas fa-compass"></i></span>
                            <span class="title">PICTI</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'inicio' %}">
                            <span class="icon"><i class="fas fa-home"></i></span>
                            <span class="title">Início</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'listar-relatorio' %}">
                            <span class="icon"><i class="fas fa-file-alt"></i></span>
                            <span class="title">Relatórios Anuais</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'dashboard' %}">
                            <span class="icon"><i class="fas fa-th-large"></i></span>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'configuracoes' %}">
                            <span class="icon"><i class="fas fa-cog"></i></span>
                            <span class="title">Configurações</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'sobre' %}">
                            <span class="icon"><i class="fas fa-info"></i></span>
                            <span class="title">Sobre</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                            <span class="title">Sair</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-user"></i></span>
                            <span class="title">Perfil</span>
                        </a>
                    </li>
                    <li>
                        <div class="profile-details">
                            <div class="profile-content">
                                <img src="{% static 'img/user.jpg' %}" alt="profileImg">
                            </div>
                            <div class="name-job">
                                <div class="profile_name">Fulano de Tal</div>
                                <div class="job">Web Desginer</div>
                            </div>
                            <i class="fas fa-sign-out-alt"></i>
                        </div>
                    </li>
                </ul>
            </div>
        {% endblock %}
        <!-- main top-->
        <div class="main">
            {% block menutopo %}
                <div class="topbar">
                    <div class="toggle">
                        <icon-menu class="open"><i class="fas fa-bars"></i></icon-menu>
                        <!-- <icon-menu class="close-menu"><i class="fas fa-times"></i></icon-menu> -->
                    </div>
                    <!-- search -->
                    <div class="search">
                        <label>
                            <input type="text" placeholder="Busque aqui...">
                            <i class="fas fa-search" nane="search-outline"></i>
                        </label>
                    </div>
                    <!-- userImg -->
                    <div class="user">
                        <img src="{% static 'img/user.jpg' %}">
                    </div>
                </div>
            {% endblock %}
            {% block conteudo %}
                <h3>Título do conteúdo</h3>

                <p class="lead"> Plataforma de Indicadores.</p>

                <p>
                    Em breve mais detalhes.
                </p>
            {% endblock %}
        </div>
    </div>
<!-- Footer
{% block rodape %}
    <div class="rodape">
        PICTI | Programa de Pós-Graduação em Propriedade Intelectual e Transferência de Tecnologia para a Inovação (PROFNIT-UNIFAP) - (096)3312-1700 | Copyright © 2021-2022 - UNIFAP - picti-instancia-01.unifap.br.srv1inst1 - v2.0
    </div>
{% endblock %}
-->

    <script src="{% static 'js/my_chart.js' %}"></script>

    <script>
        //MenuToggle
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('.main');
        toggle.onclick = function(){
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }

        // adicionar hovered class no item selecionado da lista
        let list = document.querySelectorAll('.navigation li');
        function activeLink(){
            list.forEach((item) => {
                item.classList.remove('hovered');
            });
            this.classList.add('hovered');
        }
        list.forEach((item) => {
            item.addEventListener('mouseover', activeLink);
        });
    </script>

</body>
</html>
