{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'inicio' %}">
        <img src="{% static 'img/logo2.png' %}" height="50" alt="PICTI">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'inicio' %}">
              <i class="fa fa-home" aria-hidden="true"></i> Inicio</a>
        </li>
        {% if request.user.is_authenticated %}
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'manager' %}">
                    <i class="fas fa-tasks" aria-hidden="true"></i> Gestão</a>
            </li>
        {% endif %}
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'sobre' %}">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Sobre</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#">
                <i class="fa fa-question-circle" aria-hidden="true"></i> Ajuda</a>
        </li>
      </ul>

      <div class="d-flex" role="user">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle"
                         href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user me-2" aria-hidden="true"></i><span id="username">{{ request.user }}</span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'atualizar-dados' %}">Meus Dados</a></li>
                        <li><a class="dropdown-item" href="#">Alterar Senha</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                      </ul>
                    </li>
                    {% else %}
                        <li class="nav-item">
                                <a class="nav-link" href="{% url 'registrar' %}">
                                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                                    Registrar
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="{% url 'login' %}">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                                    Login
                                </a>
                            </li>
                {% endif %}
          </ul>
      </div>
    </div>
  </div>
</nav>