{% extends 'paginas/modelo-manager.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block titulo %}
    <title>Cadastrar Dados</title>
{% endblock %}

{% block conteudo %}
    <div class="container">
        <h3>{{ titulo|default:'Cadastro' }}</h3>
        <p class="lead">
            Todos os campos vazios serão definidos com valor 0 (zero).
        </p>

        <hr>

        <form action="" method="POST">
            {% csrf_token %}

               <p>Relatório: {{ form.id_relatorio }}</p>

            <table>
                <tr>
                    <th>Variável</th>
                    <th>Resposta</th>
                </tr>

                <tr>
                    <td>Nome da variável 1:</td>
                    <td>{{ form.resposta }}</td>
                </tr>
                <tr>
                    <td>Nome da variável 2:</td>
                    <td>{{ form.resposta }}</td>
                </tr>
                <tr>
                    <td>Nome da variável 3:</td>
                    <td>{{ form.resposta }}</td>
                </tr>
                <tr>
                    <td>Nome da variável 4:</td>
                    <td>{{ form.resposta }}</td>
                </tr>
                <tr>
                    <td>Nome da variável 5:</td>
                    <td>{{ form.resposta }}</td>
                </tr>
            </table>

            <button type="submit" class="btn btn-light mt-3">{{ botao|default:'Cadastrar' }}</button>

        </form>
    </div>
{% endblock %}