{% extends 'modelo.html' %}

{% load static %}

{% block titulo %}
    <title>Dashboard</title>
{% endblock %}

{% block conteudo %}
    <!-- cards -->
    {% block cards %}
        <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers">1.504.644,65</div>
                    <div class="cardName">Receita Corrente</div>
                </div>
                <div class="iconBx">
                    <i class="far fa-money-bill-alt"></i>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">2021</div>
                    <div class="cardName">Ano</div>
                </div>
                <div class="iconBx">
                    <i class="far fa-calendar-alt"></i>
                </div>
            </div>
            <div class="card">
                    <div>
                        <div class="numbers">20.849</div>
                        <div class="cardName">Recursos Humanos</div>
                    </div>
                    <div class="iconBx">
                        <i class="fas fa-users"></i>
                    </div>
                </div>
            <div class="card">
                <div>
                    <div class="numbers">16.584</div>
                    <div class="cardName">Patentes Concedidas</div>
                </div>
                <div class="iconBx">
                    <i class="far fa-file-alt"></i>
                </div>
            </div>
        </div>
    {% endblock %}
    <!-- charts -->
    {% block charts %}
        <div class="graphBox">
            <div class="box">
                <canvas id="myChart"></canvas>
            </div>
            <div class="box">
                <canvas id="earning"></canvas>
            </div>
            <div class="box">
                <canvas id="dimensoes"></canvas>
            </div>
            <div class="box">
                <canvas id="investimentos"></canvas>
            </div>
        </div>
    {% endblock %}
    <!-- tables list -->
    {% block tables %}
        <div class="details">
            <!-- order details list -->
            <div class="recentOrders">
                <div class="cardReader">
                    <h2>Recursos Aplicados</h2>
                    <a href="#" class="btn">Ver Todos</a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>Sub-Indicador</td>
                            <td>Valor 2020</td>
                            <td>Valor 2021</td>
                            <td>Variação</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dispêndios dos governos estaduais em (C&T)</td>
                            <td>R$1200</td>
                            <td>R$1500</td>
                            <td><span class="status deliveride">%<i class="fas fa-arrow-up"></i></span></td>
                        </tr>
                        <tr>
                            <td>Total de pessoas envolvidas em pesquisa e desenvolvimento (P&D) (pesquisadores+pessoal de apoio)</td>
                            <td>110</td>
                            <td>110</td>
                            <td><span class="status pending">%<i class="fas fa-arrows-alt-v"></i></span></td>
                        </tr>
                        <tr>
                            <td>CNPq - Total de bolsas/ano concedidas no País e no exterior</td>
                            <td>620</td>
                            <td>400</td>
                            <td><span class="status return">%<i class="fas fa-arrow-down"></i></span></td>
                        </tr>
                        <tr>
                            <td>Produção científica, segundo meio de divulgação no diretório dos grupos de pesquisa do CNPq</td>
                            <td>110</td>
                            <td>0</td>
                            <td><span class="status inprogress">%<i class="fas fa-arrows-alt-h"></i></span></td>
                        </tr>
                        <tr>
                            <td>Pedidos de patentes depositados no INPI, segundo tipos de patentes e origem do depositante</td>
                            <td>1100</td>
                            <td>1200</td>
                            <td><span class="status deliveride">%<i class="fas fa-arrow-up"></i></span></td>
                        </tr>
                        <tr>
                            <td>Pedidos e concessões de patentes de invenção junto ao USPTO</td>
                            <td>110</td>
                            <td>110</td>
                            <td><span class="status pending">%<i class="fas fa-arrows-alt-v"></i></span></td>
                        </tr>
                        <tr>
                            <td>Pedidos de patentes depositados de acordo com o PCT, na sua fase internacional, que designam o EPO por UF de residência do inventor</td>
                            <td>620</td>
                            <td>120</td>
                            <td><span class="status return">%<i class="fas fa-arrow-down"></i></span></td>
                        </tr>
                        <tr>
                            <td>Total de Famílias de Patentes Triádicas, de inventores residentes no Brasil, por data de prioridade</td>
                            <td>110</td>
                            <td>0</td>
                            <td><span class="status inprogress">%<i class="fas fa-arrows-alt-h"></i></span></td>
                        </tr>
                        <tr>
                            <td>Percentual de empresas que implementaram inovações de produto e/ou processo, segundo as atividades selecionadas da indústria, do setor de eletricidade e gás e dos serviços</td>
                            <td>575</td>
                            <td>575</td>
                            <td><span class="status pending">%<i class="fas fa-arrows-alt-v"></i></span></td>
                        </tr>
                        <tr>
                            <td>Número e Percentual de Empresas Industriais que fazem P&D contínuo</td>
                            <td>110</td>
                            <td>110</td>
                            <td><span class="status pending">%<i class="fas fa-arrows-alt-v"></i></span></td>
                        </tr>
                        <tr>
                            <td>Dispêndios realizados nas atividades inovativas de empresas que implementaram inovações, segundo as atividades selecionadas da indústria, do setor de eletricidade e gás e dos serviços</td>
                            <td>110</td>
                            <td>0</td>
                            <td><span class="status inprogress">%<i class="fas fa-arrows-alt-h"></i></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- new customers -->
            <div class="recentCustomers">
                <div class="cardReader">
                    <h2>Colaboradores</h2>
                </div>
                <table>
                    <tr>
                        <td width="60px"><div class="imgBx"><img src="{% static 'img/user.jpg' %}"></div></td>
                        <td><h4>Rafael<br><span>Secretário SETEC</span></h4></td>
                    </tr>
                    <tr>
                        <td width="60px"><div class="imgBx"><img src="{% static 'img/user.jpg' %}"></div></td>
                        <td><h4>Ruthele<br><span>Chefe de Gabinete</span></h4></td>
                    </tr>
                    <tr>
                        <td width="60px"><div class="imgBx"><img src="{% static 'img/user.jpg' %}"></div></td>
                        <td><h4>Fábio<br><span>Coordenador de Desenvolvimento Científico</span></h4></td>
                    </tr>
                    <tr>
                        <td width="60px"><div class="imgBx"><img src="{% static 'img/user.jpg' %}"></div></td>
                        <td><h4>Darlene<br><span>Assessora de Desenvolvimento Institucional</span></h4></td>
                    </tr>
                    <tr>
                        <td width="60px"><div class="imgBx"><img src="{% static 'img/user.jpg' %}"></div></td>
                        <td><h4>Eduardo<br><span>Coordenador de Desenvolvimento Tecnológico e Inovação</span></h4></td>
                    </tr>
                    <tr>
                        <td width="60px"><div class="imgBx"><img src="{% static 'img/user.jpg' %}"></div></td>
                        <td><h4>Fabrício<br><span>Gerente do Núcleo Administrativo Financeiro</span></h4></td>
                    </tr>
                    <tr>
                        <td width="60px"><div class="imgBx"><img src="{% static 'img/user.jpg' %}"></div></td>
                        <td><h4>Glaucilene<br><span>Professora</span></h4></td>
                    </tr>
                    <tr>
                        <td width="60px"><div class="imgBx"><img src="{% static 'img/user.jpg' %}"></div></td>
                        <td><h4>Josirlan<br><span>Gerente do Núcleo de Tecnologias Sociais</span></h4></td>
                    </tr>
                </table>
            </div>
        </div>
    {% endblock %}
{% endblock %}
