{% extends 'modelo.html' %}

{% load static %}

{% block titulo %}
    <title>Ano Base</title>
{% endblock %}

{% block conteudo %}
    <h1>Listar Relatórios Anuais</h1>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Ano</th>
                <th>Opções</th>
            </tr>

            {% for ano in object_list %}
                <tr>
                    <td>{{ ano.ano }}</td>
                    <td>
                        <a href="{% url 'editar-ano' ano.pk %}" class="btn btn-warning btn-sm" title="Editar">Editar</a>
                        <a href="{% url 'excluir-ano' ano.pk %}" class="btn btn-danger btn-sm" title="Excluir">Excluir</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nenhum registro encontrado.</td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}