{% extends 'paginas/modelo-manager.html' %}

{% load static %}

{% block titulo %}
    <title>Dimensões</title>
{% endblock %}

{% block conteudo %}
    <main>
        <div class="container-fluid">
                    <h1 class="mt-4 text-center">Indicadores Nacionais de Ciência, Tecnologia Inovação</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Indicadores CT&I</li>
                    </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">

                        <div class="card-body text-center"><i class="fa-solid fa-hand-holding-dollar"></i></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link"
                               href="{% url 'cadastrar-resposta' %}?dimensao=1">Recursos Aplicados</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body text-center"><i class="fa-solid fa-users"></i></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link"
                               href="{% url 'cadastrar-resposta' %}?dimensao=2">Recursos Humanos</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body text-center"><i class="fa-solid fa-file-pen"></i></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link"
                               href="{% url 'cadastrar-resposta' %}?dimensao=3">Bolsas de Formação</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body text-center"><i class="fa-solid fa-microscope"></i></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link"
                               href="{% url 'cadastrar-resposta' %}?dimensao=4">Produção Científica</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body text-center"><i class="fa-solid fa-award"></i></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link"
                               href="{% url 'cadastrar-resposta' %}"?dimensao=5>Patentes</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body text-center"><i class="fa-solid fa-lightbulb"></i></div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link"
                               href="{% url 'cadastrar-resposta' %}"?dimensao=6>Inovação</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
