{% extends 'modelo.html' %}

{% load static %}

{% block titulo %}
    <title>Região Geográfica</title>
{% endblock %}

{% block conteudo %}
    <h1>Listar Regiões Geográficas</h1>
    <hr>
    <div>
        <a id="add-link" href="{% url 'cadastrar-regiao' %}">
            <div class="col-2 add-div">
                <i class="fas fa-plus"></i> Cadastrar dados
            </div>
        </a>
    </div>
    {% if messages %}
        <ul class="message">
            {% for message in messages %}
                <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Região</th>
                <th>Opções</th>
            </tr>

            {% for regiao in object_list %}
                <tr>
                    <td>{{ regiao.nome }}</td>
                    <td>
                        <a href="{% url 'editar-regiao' regiao.pk %}" class="btn btn-warning btn-sm" title="Editar">Editar</a>
                        <a href="{% url 'excluir-regiao' regiao.pk %}" class="btn btn-danger btn-sm" title="Excluir">Excluir</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nenhum registro encontrado.</td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}