{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="offset-1 col-10 list-div">
        <h1>{{ respostas.id_variavel }}</h1>
        <p>Instituição: {{ respostas.id_instituicao }}</p>
        <p>Ano: {{ respostas.id_ano_base }}</p>
        <p>Valor: {{ respostas.resposta }}</p>
        <p>Data Última Atualização: {{ respostas.data_atualizacao }}</p>
        <p>Data Resposta: {{ respostas.data_resposta }}</p>
        <p>Responsável: {{ respostas.id_respondido_por }}</p>
        <p>#TAG: {{ respostas.tag }}</p>
    </div>
{% endblock %}